.contacts {
    margin-top: 120px;
    padding-bottom: 90px;
    &__wrapper {
        padding: 0 35px 0 52px;
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
    }

    &__photo {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__descr {
        padding-top: 6px;
        .divider {
            margin: 0px;
        }
    }
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        position: relative;
        @include before_circle;
        padding-left: 12px;
        padding-top: 1px;
    }

    &__text, &__social {
        margin-top: 20px;
    }

    &__link {
        margin-right: 25px;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            transform: scale(1.10);
            border: none;
        }
        .rotate {
            transform: rotateZ(90deg);
            &:hover {
                transform: rotateZ(90deg) scale(1.15);
            }
        }
        img {
            width: 30px;
            height: 30px;
            
            &:hover {
                transform: scale(1.15);
            }
        }
    }

    &__form {
        margin-top: 30px;
        display: grid;
        grid-template: 45px 190px 45px / repeat(2, 280px);
        justify-content: space-between;
        row-gap: 26px;
        label {
            display: block;
            position: absolute;
            height: 18px;
            padding: 0 8px;
            background-color: #fff;
            font-size: 12px;
            margin-bottom: 0;
            top: -9px;
            left: 12px;
        }
    }
    &__triggers {
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 35px;
    }

    [data-lang-contacts-policy-link] {
        margin-left: 10px;
    }

    &__policy {
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        input {
            margin-right: 10px;
        }
    }

    &__input {
        position: relative;
        input {
            outline: none;
            width: 100%;
            height: 100%;
            padding: 0 20px;
            font-weight: 500;
            font-size: 12px;
        }
        
    }

    &__textarea {
        position: relative;
        grid-column: 1 / 3;
        textarea {
            outline: none;
            width: 100%;
            height: 100%;
            resize: none;
            padding: 20px 20px;
            font-weight: 500;
            font-size: 12px;  
        }
    }
    
    &__btn {
        @include button_silver;
        font-size: 14px;
    }
}
