.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main-bg.jpg') no-repeat 50% / cover;
    padding-top: 205px;

    &__title {
        margin-top: 10px;
        width: 540px;
    }

    &__subtitle {
        color: $title-color-1;
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }

    &__btns {
        margin-top: 25px;
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        @include button_silver;
        text-decoration: none;
        height: 45px;
        transition: all .4s;
        &:hover {
            color: white;
            // background: none;
            text-decoration: none;
        }
        &:nth-child(2) {
            &:after {
                // margin-left: 0px;
                // margin-right: 50px;
                // left: 0;
                // right: -40px;
                transform: rotate(-45deg);
                animation: movingFlareToLeft 3s ease-in-out 0.05s infinite;
              }
        }
    }
}